@font-face {
    font-family: "arial rounded";
    src: url(Arial\ Rounded\ Bold.ttf) format(truetype);
    /* font-display: swap; */
}

:root {
    --coral: #db524d;
    --lighter: #df645f;
    --darker: #c94b46;
    -darkest: #653336;
    --w: #ffff;
    --font: "arial rounded", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

span {
    background-color: var(--coral);
    grid-column: 1/4;
}

header {
    background-color: var(--coral);
    grid-column: 2/3;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

section {
    grid-column: 2/3;
}

section.stack {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

section.stack>* {
    grid-column: 2/3;
    margin-left: 2vw;
    margin-right: 2vw;
}

footer {
    grid-column: 1/4;
}

.timer {
    background-color: var(--lighter);
}